v1/backend/node_modules/
v1/frontend/node_modules/
v2/backend/node_modules/
v2/my-app/node_modules/
v3/client/node_modules/
v3/server/node_modules/
v4/mern-project/client/node_modules
v4/mern-project/server/node_modules
v5/client/node_modules/
v5/server/node_modules/
v6/client/node_modules/
v6/server/node_modules/
v7/client/node_modules/
v7/server/node_modules/
v8/client/node_modules/
v8/server/node_modules/
v9/client/node_modules/
v9/server/node_modules/
v10 - User Dashboard/client/node_modules/
v10 - User Dashboard/server/node_modules/
v11/client/node_modules/
v11/server/node_modules/